<div class="container">
<div class="hero-unit">
  <h1> Log In </h1><br/>
  <form action="/login" method="post">
    Email: <input type="text" class="input-block-level" name="user[email]">
    Password: <input type="text" class="input-block-level" name="user[password]">
    <input type="submit" class="btn btn-primary btn-large" value="Submit!">
  </form>
</div>

<a href="/sign_up">Not a member? Click here to sign up!</a>

<span class="errors"><%= @error %></span>
</div>
