<div class="container">
  <div class="hero-unit">
      <h3>Your Profile</h3>
      <ul class="nav nav-pills">
        <li class="dropdown-submenu">Name: <%=@user.name%></li>
        <li class="dropdown-submenu">Email: <%=@user.email%></li>
        <li class="dropdown-submenu">Games: <%=@user.rounds.each do |round|%></li>
        <% round.
      <ul>
  </div>

  <a href="/sign_up">Not a member? Click here to sign up!</a>

  <span class="errors"><%= @error %></span>
</div>
