<h1><%= @deck.category %></h1>
<% first = true %>
<ul>
  <% @deck.cards.each do |card| %>
  <% if first == true %>
    <li class="active">
    <% first = false %>
  <% else %>
    <li class="inactive">
  <% end %>
    <p><%= card.question %></p>
    <form action="/guess" method='post'>
      <input type="hidden" value="<%= card.id %>" name="card[id]">
      <input type="text" placeholder="type you answer here" name="user_input">
      <input type="submit" value="submit">
    </form>
  </li>
  <% end %>
</ul>

<script>
$(document).ready(function(){
  $('li form').on('submit', function(event){
    event.preventDefault();
    var parent = $(this).parent();
    var data = $(this).serialize()
    $.post('/guess', data)
    .done(function(data){
      debugger
      alert("hey");
      parent.removeClass('active');
      parent.addClass("inactive");
      parent.next().removeClass('inactive')
      parent.next().addClass('active');
    }); 
  });
});

</script>