<div>
  <form action="/sign_up" method="post">
    Name: <input type="text" name="user[name]">
    Email: <input type="text" name="user[email]">
    Password: <input type="text" name="user[password]">
    <input type="submit" class="btn btn-primary btn-large" value="Submit!">
  </form>
</div>
